SUPABASE_DB_PORT=5433
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=postgres

SUPABASE_REST_PORT=8000
SUPABASE_DB_SCHEMAS=public
SUPABASE_ANON_ROLE=anon
SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-chars

SUPABASE_UI_PORT=5050
SUPABASE_UI_EMAIL=admin@local.dev
SUPABASE_UI_PASSWORD=admin
