AUTHENTIK_PORT=9001
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASSWORD=authentik
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_SECRET_KEY=please_change_this_to_a_long_random_string
AUTHENTIK_BOOTSTRAP_USERNAME=akadmin
AUTHENTIK_BOOTSTRAP_EMAIL=admin@example.com
AUTHENTIK_BOOTSTRAP_PASSWORD=ChangeMe123!
