node default {
  package { 'curl':
    ensure => installed,
  }

  package { 'htop':
    ensure => installed,
  }

  file { '/etc/motd':
    content => "Managed by Puppet\n",
  }

  service { 'sshd':
    ensure => running,
    enable => true,
  }
}

node 'webserver' {
  package { 'nginx':
    ensure => installed,
  }

  service { 'nginx':
    ensure  => running,
    enable  => true,
    require => Package['nginx'],
  }

  file { '/var/www/html/index.html':
    content => "<h1>Puppet Managed Web Server</h1>\n",
    require => Package['nginx'],
  }
}

node 'dbserver' {
  package { 'postgresql':
    ensure => installed,
  }

  service { 'postgresql':
    ensure  => running,
    enable  => true,
    require => Package['postgresql'],
  }
}
