services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      node.name: ${ES_NODE_NAME}
      cluster.name: ${ES_CLUSTER_NAME}
      discovery.type: ${ES_DISCOVERY_TYPE}
      bootstrap.memory_lock: ${ES_BOOTSTRAP_MEMORY_LOCK}
      ES_JAVA_OPTS: ${ES_JAVA_OPTS}
      xpack.security.enabled: ${ES_XPACK_SECURITY_ENABLED}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - esnet

volumes:
  es_data:

networks:
  esnet:
