  jenkins:
    image: jenkins/jenkins:latest-jdk21
    container_name: jenkins
    # build:
    #   context: ./ 
    #   dockerfile: Dockerfile  # Optional if you customized Dockerfile or create your own image 
    restart: always
    user: root
    ports:
      - "8082:8080"
      - "50000:50000"
    volumes:
      - ./data:/var/jenkins_home
      - ./plugins.txt:/usr/share/jenkins/ref/plugins.txt:ro

      # ✅ Allow Jenkins to talk to host Docker (Docker-outside-of-Docker)
      - /var/run/docker.sock:/var/run/docker.sock

      # ✅ Optional but useful: docker CLI inside container (quick win)
      - /usr/bin/docker:/usr/bin/docker
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - TZ=Asia/Manila