
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    ports:
      - "8080:8080" # Jenkins web
      - "50000:50000" # Agent connections
    volumes:
      - ./data:/var/jenkins_home
