services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    ports:
      - "8082:8080"
      - "50000:50000"
    volumes:
      - ./data:/var/jenkins_home
      - ./plugins.txt:/usr/share/jenkins/ref/plugins.txt:ro
      - /<home>/.ssh:/var/jenkins_home/.ssh:ro
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false