# .env

# PVE_USER=<user>@pve # proxmox@pve
# PVE_TOKEN_NAME=<token-name> # proxmox
# PVE_TOKEN_VALUE=<token-value>  # 72587f22-7500-4be4-bb04-fc12b157ce41
# PVE_VERIFY_SSL=false
# PVE_HOST=<pve-host> # 192.168.1.124

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"

  proxmox-exporter:
    image: prompve/prometheus-pve-exporter:latest
    container_name: proxmox-exporter
    restart: always
    env_file:
      - .env
    ports:
      - "9221:9221"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER:admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:admin}
      GF_USERS_ALLOW_SIGN_UP: ${GF_USERS_ALLOW_SIGN_UP:false}

volumes:
  prometheus_data:
  grafana_data:
