MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
PARSE_DB_NAME=parsedb

PARSE_APP_ID=myAppId
PARSE_MASTER_KEY=myMasterKey
PARSE_APP_NAME=ParseServer
PARSE_ALLOW_CLIENT_CLASS_CREATION=true

PARSE_SERVER_PORT=1337
PARSE_SERVER_URL=http://localhost:1337/parse
PARSE_PUBLIC_SERVER_URL=http://localhost:1337/parse
PARSE_MASTER_KEY_IPS=0.0.0.0/0,::/0

PARSE_DASHBOARD_PORT=4040
PARSE_DASHBOARD_USER=admin
PARSE_DASHBOARD_PASS=admin
PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=true
PARSE_DASHBOARD_SERVER_URL=http://localhost:1337/parse
