services:
  postgres:
    image: postgres:15
    container_name: n8n_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    user: root
    environment:
      # Timezone
      TZ: ${TZ}

      # PostgreSQL Config
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: ${DB_POSTGRESDB_PORT}
      DB_POSTGRESDB_DATABASE: ${DB_POSTGRESDB_DATABASE}
      DB_POSTGRESDB_USER: ${DB_POSTGRESDB_USER}
      DB_POSTGRESDB_PASSWORD: ${DB_POSTGRESDB_PASSWORD}
      DB_POSTGRESDB_SCHEMA: ${DB_POSTGRESDB_SCHEMA}
      DB_POSTGRESDB_POOL_SIZE: ${DB_POSTGRESDB_POOL_SIZE}

      # N8N Settings
      N8N_RUNNERS_ENABLED: ${N8N_RUNNERS_ENABLED}
      N8N_BLOCK_ENV_ACCESS_IN_NODE: ${N8N_BLOCK_ENV_ACCESS_IN_NODE}
      N8N_GIT_NODE_DISABLE_BARE_REPOS: ${N8N_GIT_NODE_DISABLE_BARE_REPOS}
      N8N_COMMUNITY_NODES_ENABLED: ${N8N_COMMUNITY_NODES_ENABLED}
      N8N_DIAGNOSTICS_ENABLED: ${N8N_DIAGNOSTICS_ENABLED}
      N8N_TELEMETRY_ENABLED: ${N8N_TELEMETRY_ENABLED}
      N8N_DEFAULT_TIMEOUT: ${N8N_DEFAULT_TIMEOUT}
      N8N_HOST: ${N8N_HOST}
      N8N_PROTOCOL: ${N8N_PROTOCOL}
      N8N_WEBHOOK_URL: ${N8N_WEBHOOK_URL}
      N8N_EDITOR_BASE_URL: ${N8N_EDITOR_BASE_URL}
      N8N_WEBHOOK_TUNNEL_URL: ${N8N_WEBHOOK_TUNNEL_URL}
      N8N_PUBLIC_API_DISABLED: ${N8N_PUBLIC_API_DISABLED}
      N8N_TRUST_PROXY: ${N8N_TRUST_PROXY}
      N8N_TRUSTED_PROXIES: ${N8N_TRUSTED_PROXIES}
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: ${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS}
      WEBHOOK_URL: ${WEBHOOK_URL}
      N8N_USER_MANAGEMENT_DISABLED: ${N8N_USER_MANAGEMENT_DISABLED}
      N8N_BASIC_AUTH_ACTIVE: ${N8N_BASIC_AUTH_ACTIVE}
      N8N_SECURE_COOKIE: ${N8N_SECURE_COOKIE}

    volumes:
      - data:/root/.n8n

    ports:
      - "5678:5678"

volumes:
  data:
    driver: local
  postgres_data:
    driver: local
